body {
	font-family: 'Source Sans Pro', sans-serif;
	color: #676858;
}

hr {
    border: none;
    height: 3px;
    background-color: #999999;
}

.title-logo {
	width: 110px;
	margin-top: 20px;
}


.project-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.project {
	width: 33%;
	padding: 10px;
}
h2, h3, h4, p {
	font-weight: 500;
}
