body {
	font-family: 'Source Sans Pro', sans-serif;
	color: #676858;
}

hr {
    border: none;
    height: 0.2085vw;
    background-color: #999999;
}

h1, h2, h3, h4, p {
	font-weight: 500;
}

li {
	list-style-type: none;
}

.title-logo {
	width: 7.64vw;
	margin-top: 1.39vw;
}


.project-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.project {
	width: 33%;
	padding: 0.69vw;
}

.rectangle {
	width: 5.2125vw;
    height: 5.2125vw;
}

.blue {
	background: #02b3e4;
}

.black {
	background: #2d3c49;
}

.grey {
	background: #7d97ad;
}
/* Media queries for mobile*/
@media only screen and (max-width: 500px) {
	.project > h3{
		font-size: 3vw;
	}
}